

/* ---------main structure styles--------- */

body {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #093968;
	position: relative;
}

.right {
	padding: 30px 0 15px 15px;
}
.row {
	margin: 0;
}
.blue-box {
	border:3px solid #093968;
	padding: 0;
	margin-bottom:30px;
}

.red-box {
	border: 3px solid #B32513;
	width: 30%;
	margin-top: 15px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 15px;
	float:left;
}

.grey-box {
	background-color: #DDDDDD;
	padding: 10px 15px 15px 15px;
	margin-bottom: 20px;
}

.checkout {
	border: 2px solid #093968;
	padding: 0 15px 15px 15px;
	margin: 10px;
}

.box-content {
	margin-top: 10px;
}

.about {
	margin-bottom: 15px;
}

.centerThx {
	width: 60%;
	margin: 0 auto;
}

.modal.modal-wide .modal-dialog {
  width: 66%;
}
#comicModal .modal-body {
	padding-right: 50px;
}
.modal-body {
	overflow-y: auto;
}
footer {
	background-color: #093968;
	color: #fff;
	font-size: .8em;
	padding-top: 15px;	
}
/* ---------image styles--------- */
.thumb {
	max-width: 100px;
}

img#modalImage {
	max-width: 350px;
}

.middle {
	margin-top: 100px;
}
/* ---------text styles--------- */
h1 {
	font-style: bold;
	text-align: center;
	font-size: 2.5em;
}

h2 {
	background-color: #093968;
	color: #fff;
	margin: 0;
	padding:5px 15px;
	font-size: 1.75em;
}

div.red-box>h3 {
	background-color: #B32513;
	color: #fff;
	margin: 0 0 10px 0;
	padding:5px 15px;
	font-size: 1.3em;
}

footer p a {
	color: #fff;
}
footer p a:hover {
	color: #F9DD50;
}

ul#viewFormats, ul#viewPublishers {
	list-style: none;
	padding-left: 10px;	
	background-color: #DDDDDD;
}

a#formatDrop, a#publisherDrop {
	display: block;
	background-color: #093968;
	color: #fff;
	margin: 0 0 10px 0;
	padding:5px 15px;
	font-size: 1.75em;
	width: 100%;
}

a#formatDrop:hover, a#formatDrop:active,
a#publisherDrop:hover, a#publisherDrop:active {
	text-decoration: none;
}

.bold {
	font-weight: 700;
}

.pShipping {
	text-align: center;
	font-size: 1.2em;
}
.red {
	color: #B32513;
}

/* ---------navigation styles--------- */

#custom-menu.navbar-default {
    font-size: 1em;
    font-style: bold;
    background-color: #093968;
    border-width: 0px;
    border-radius: 0px;
}
#custom-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 15px 30px;
	font-weight: 500;
}
#custom-menu.navbar-default .navbar-nav>li.active>a {
    background-color: #166ba5;
}
#custom-menu.navbar-default .navbar-nav>li>a:hover,
#custom-menu.navbar-default .navbar-nav>li>a:focus {
    color: #F9DD50;
}

/* ---------form and button styles--------- */
.form-control, .btn {
	border-radius: 0;
}

.form-control {
	background-color: #fff;
	border: 2px solid #093968;
	margin-bottom: 5px;
}

.search {
	width: 200px;
	margin: 0;
}
select#state, select#sortBy, select#filterBy {
	-webkit-appearance: none;
    -moz-appearance: none;
    background-position: 97.5% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/select_icon.gif);
    padding: 0 .5em;
}
button, .button {
	color: #fff;
	background-color: #093968;
	border:3px solid #166BA5;
	border-radius: 5px;
	padding: 3px 15px;
}
button:hover, a.button:hover {
	color: #fff;
	background-color: #166BA5;
	border:3px solid #093968;
	text-decoration: none;
}
button.secondary {
	color: #093968;
	background-color: #FFFACD;
	border:3px solid #093968;
	border-radius: 5px;
	padding: 3px 10px;
}
button.secondary:hover {
	color: #fff;
	background-color: #093968;
	border:3px solid #FFFACD;
}
button.close:hover {
	color: #166BA5;
	background-color: #fff;
	border: none;
}
.search {
	height: 34px;
	width: 300px;
}
.searchBtn {
	color: #fff;
	background-color: #093968;
	border: none;
	padding: 3px 15px;
	margin: 2px;
}
.searchBtn:hover {
	color: #F9DD50;
	background-color: #093968;
	border: none;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox_icon_24x40.gif) right top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox_icon_24x40.gif) right -20px no-repeat;
}
form#loginForm, form#signupForm {
	width: 66%;
	margin: 0 auto;
}
/* ---------table styles--------- */
.table>tbody>tr>th {
	padding: 0;
}
.table>tbody>tr>td {
	padding-left: 15px;
}
#tCart, .checkoutDiv {
	width: 85%;
	margin: 20px auto;
}
#tCheckout {
	width: 100%;
	margin-bottom: 30px;
}