

/* ---------main structure styles--------- */

body {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #093968;
	position: relative;
}

.right {
	padding: 30px 0 15px 15px;
}
.row {
	margin: 0;
}
.blue-box {
	border:3px solid #093968;
	padding: 0;
	margin-bottom:30px;
}
.blue-box>a:hover {
	text-decoration: none;
}
.red-box {
	border: 3px solid #B32513;
	width: 100%;
	margin: 15px auto;
}
.grey-box {
	background-color: #DDDDDD;
	padding: 10px 15px 15px 15px;
	margin-bottom: 20px;
}
.checkout {
	border: 2px solid #093968;
	padding: 0 15px 15px 15px;
	margin: 10px;
}
.box-content {
	margin-top: 10px;
}
.about {
	margin-bottom: 15px;
}
.modal.modal-wide .modal-dialog {
  width: 66%;
}
#comicModal .modal-body {
	padding-right: 50px;
}
.modal-body {
	overflow-y: auto;
}
p#titles {
	min-height: 400px;
}
footer {
	background-color: #093968;
	color: #fff;
	font-size: .8em;
	padding-top: 15px;	
}
/* ---------image styles--------- */
.thumb {
	max-width: 100px;
}

img#modalImage {
	width: 100%;
	max-width: 350px;
}

.middle {
	margin-top: 100px;
}
/* ---------text styles--------- */
h1 {
	font-style: bold;
	text-align: center;
	font-size: 2.5em;
}
h1#admin {
	color: #B32513;
}
h2 {
	background-color: #093968;
	color: #fff;
	margin: 0;
	padding:5px 15px;
	font-size: 1.75em;
}
div.red-box>h3 {
	background-color: #B32513;
	color: #fff;
	margin: 0 0 10px 0;
	padding:5px 15px;
	font-size: 1.3em;
}
footer p a {
	color: #fff;
}
footer p a:hover {
	color: #F9DD50;
}

ul.format, ul.publisher {
	list-style: none;
	padding-left: 10px;	
	background-color: #DDDDDD;
}

a#formatDrop, a#publisherDrop {
	display: block;
	background-color: #093968;
	color: #fff;
	margin: 0 0 10px 0;
	padding:5px 15px;
	font-size: 1.75em;
	width: 100%;
}
a#formatDrop:hover, a#formatDrop:active,
a#publisherDrop:hover, a#publisherDrop:active {
	text-decoration: none;
}
.bold {
	font-weight: 700;
}
.pShipping {
	text-align: center;
	font-size: 1.2em;
}
.red {
	color: #B32513;
}
.breadcrumb {
	background-color: #fff;
}
p#signUp {
	margin-bottom: 50px;
}

/* ---------rss styles--------- */
.rssBody ul {
	padding: 0 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.rssBody ul li {
	list-style: none;
}
.rssBody ul li:not(:last-child){
	border-bottom:  2px solid #B32513;
	margin-bottom: 5px;
}

/* ---------navigation styles--------- */
#admin-menu.navbar-default,
#custom-menu.navbar-default {
    font-size: 1em;
    font-style: bold;
    border-width: 0px;
    border-radius: 0px;
}
#custom-menu.navbar-default {
    background-color: #093968;
}
#admin-menu.navbar-default {
    background-color: #B32513;
}
#admin-menu.navbar-default .navbar-nav>li>a,
#custom-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 15px 30px;
	font-weight: 500;
}
#custom-menu.navbar-default .navbar-nav>li.active>a {
    background-color: #166ba5;
}
#admin-menu.navbar-default .navbar-nav>li.active>a {
    background-color: #721411;
}
#admin-menu.navbar-default .navbar-nav>li>a:hover,
#admin-menu.navbar-default .navbar-nav>li>a:focus,
#custom-menu.navbar-default .navbar-nav>li>a:hover,
#custom-menu.navbar-default .navbar-nav>li>a:focus {
    color: #F9DD50;
}

/* ---------form and button styles--------- */
.form-control, .btn {
	border-radius: 0;
}

.form-control {
	background-color: #fff;
	border: 2px solid #093968;
	margin-bottom: 5px;
}
select#state, select#sortBy, select#filterBy {
	-webkit-appearance: none;
    -moz-appearance: none;
    background-position: 97.5% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/select_icon.gif);
    padding: 0 .5em;
}
button, .button {
	color: #fff;
	background-color: #093968;
	border:3px solid #166BA5;
	border-radius: 5px;
	padding: 3px 15px;
}
button:hover, a.button:hover {
	color: #fff;
	background-color: #166BA5;
	border:3px solid #093968;
	text-decoration: none;
}
button.secondary {
	color: #093968;
	background-color: #FFFACD;
	border:3px solid #093968;
	border-radius: 5px;
	padding: 3px 10px;
}
button.secondary:hover {
	color: #fff;
	background-color: #093968;
	border:3px solid #FFFACD;
}
button.close:hover {
	color: #166BA5;
	background-color: #fff;
	border: none;
}
form.search>.input-group {
	width: 300px;
}
.searchBtn {
	color: #fff;
	background-color: #093968;
	border: none;
	padding: 3px 15px;
	margin: 2px;
}
.searchBtn:hover {
	color: #F9DD50;
	background-color: #093968;
	border: none;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox_icon_24x40.gif) right top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox_icon_24x40.gif) right -20px no-repeat;
}
form#loginForm, form#signupForm {
	width: 66%;
	margin: 0 auto;
}
form#loginToCheckout {
	width: 66%;
	margin: 0 auto 70px auto;
}
form#orders {
	overflow: auto;
	margin-bottom: 30px;
}
form.inventory .form-control {
	margin: 0 30px 0 0;
}
form#addInv, form#adminLogin {
	width: 66%;
	margin: 0 auto 30px auto;
	background-color: #DDDDDD;
	border: 2px solid #B32513;
	padding: 15px 0;
}
form#adminLogin {
	width: 45%;
}
a#add{
	margin-top: 25px;
}
/* ---------table styles--------- */
.table>tbody>tr>th {
	padding: 0;
}
.table>tbody>tr>td {
	padding-left: 15px;
}
#tCart, .checkoutDiv {
	width: 85%;
	margin: 20px auto;
}
#tCheckout {
	width: 100%;
	margin-bottom: 30px;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFFACD;
}
td.narrow {
	max-width: 200px;
}
/* ----- Change screen width that navbar will collapse ----- */
@media (max-width: 1000px) {
	.navbar-right {
		float: none!important;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}